<a href="https://colab.research.google.com/github/18101003rakin/cse_309/blob/master/A1_CT_3_18101003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***1. Sum the following series using for loop:
1 + 4 + 9 + 16 + ….. + Up to n-th term= ? (Hint: square series)***

In [1]:
n = int(input("n = "))
i= 1
sum=0

for i in range(i,n+1):
  sqr = i*i
  i=i+1
  sum = sum+sqr
print(sum)

n = 5
55

**2. You have a group of 3 students. Each student has a name, ID and dept stored in a dictionary. And all 3 students are stored in a “students” dictionary. Now use a loop to iterate through the “students” dictionary and print only the “name” of all the students.**

In [ ]:
student_1 = {
    "Name" : "Joy Iqbal",
    "ID" : 18101020,
    "Dept" : "CSE"
}
student_2 = {
    "Name" : "Nafees Kabir",
    "ID" : 18101008,
    "Dept" : "EEE"
}
student_3 = {
    "Name" : "Yasin Arafat Mredul",
    "ID" : 18101027,
    "Dept" : "CE"
}

students = {
    18101020:student_1,
    18101008:student_2,
    18101027:student_3
}

for s in students:
  print(students[s]["Name"])

Joy Iqbal
Nafees Kabir
Yasin Arafat Mredul