<a href="https://colab.research.google.com/github/18101003rakin/cse_309/blob/master/practice_basicprbs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **even-odd**

In [ ]:
number = int(input(""))
if (number%2==0):
  print("Even")
else:
  print("Odd")

4
Even

2. **grade**

In [ ]:
mark = float(input())
if(mark>=80 and mark<=100):
  print("A+")
elif(mark>=70 and mark<=80):
  print("A")
elif(mark>=60 and mark<=70):
  print("A-")
elif(mark>=50 and mark<=60):
  print("B")
elif(mark>=40 and mark<=50):
  print("C");
elif(mark>=33 and mark<=40):
  print("D")
elif(mark<=32):
  print("F")

60.3
A-

3. **string divition**

In [ ]:
string = str(input(""))
string_1=string[0:3]
string_2=string[3:6]
string_3=string[6:9]
string_4=string[9:12]

print(string_1)
print(string_2)
print(string_3)
print(string_4)

string_list=string_4+string_3+string_2+string_1
print(string_list)

zxcvbnmlkjhg
zxc
vbn
mlk
jhg
jhgmlkvbnzxc

4. **info**

In [ ]:
id = str(input(" "))

info_1 = {
    "ID" : "1",
    "First Name" : "Peter",
    "Last Name" : "Lee",
    "E-mail" : "plee@university.edu",
    "Year of Birth" : "1992"
}
info_2 = {
    "ID" : "2",
    "First Name" : "Jonathan",
    "Last Name" : "Edwards",
    "E-mail" : "jedwards@university.edu",
    "Year of Birth" : "1994"
}

info_3 = {
    "ID" : "3",
    "First Name" : "Marilyn",
    "Last Name" : "Johnson",
    "E-mail" : "mjohnson@university.edu",
    "Year of Birth" : "1993"
}

info_4 = {
    "ID" : "6",
    "First Name" : "Joe",
    "Last Name" : "Kim",
    "E-mail" : "jkim@university.edu",
    "Year of Birth" : "1992"
}

info_5 = {
    "ID" : "12",
    "First Name" : "Haley",
    "Last Name" : "Martinez",
    "E-mail" : "hmartinez@university.edu",
    "Year of Birth" : "1993"
}
info_list = [info_1,info_2,info_3,info_4,info_5]

if(id=="1"):
  print(info_list[0])
elif(id=="2"):
  print(info_list[1])
elif(id=="3"):
  print(info_list[2])
elif(id=="6"):
  print(info_list[3])
elif(id=="12"):
  print(info_list[4])

 12
{'ID': '12', 'First Name': 'Haley', 'Last Name': 'Martinez', 'E-mail': 'hmartinez@university.edu', 'Year of Birth': '1993'}